<h1><%= I18n.t('views.messages.destroy_agenda') %></h1>

  <h4>email: <%= @email %></h4>

<p><%= I18n.t('views.messages.agenda_title') %> <%= @agenda %></p>
<p><%= I18n.t('views.messages.team_name') %> <%= @team %></p>
